.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.navbar-logo {
  font-size: 40px;
  text-decoration: underline;
}
.navbar-span {
  color: red;
  text-decoration: none;
}
.navbar-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  list-style: none;
}
.navbar-link {
  text-decoration: none;
  color: black;
}

.header {
  background-image: url(images/img6.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 700px;
  position: relative;
}
.header-content {
  position: absolute;
  margin-top: 200px;
}
.header-title {
  font-size: 35px;
}
.header-p {
  color: black;
  font-size: 20px;
}

.person {
  background-image: url(images/img2.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 700px;
  position: relative;
}
.person-content {
  position: absolute;
  margin-top: 200px;
}
.person-title {
  font-size: 35px;
}
.person-p {
  color: black;
  font-size: 20px;
}

.project {
  width: 100%;
  margin: 10px auto;
}
.project-row {
  display: flex;
  flex-direction: row;
}
.project-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.project-col h1 {
  font-size: 35px;
}
.project-col p {
  font-size: 20px;
  margin-top: 15px;
}
.project-container {
  display: flex;
  flex-wrap: wrap !important;
}
.project-container img {
  width: 45%;
  margin: 5px;
  border-radius: 20px;
}

@media only screen and (max-width: 768px) {
  .project-row {
    display: flex;
    flex-direction: column;
  }
  .project-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .project-container img {
    width: 80%;
  }
  img:hover {
    border: 2px solid red;
  }
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10px;
}
.footer-left {
  width: 60%;
  padding: 5px 5px;
}
.footer-left .footer-contact {
  font-weight: bold;
  font-size: 20px;
}
.footer-left .footer-span {
  font-weight: normal;
  cursor: pointer;
  color: blue;
}
.footer-left .footer-span:hover {
  color: red;
  text-decoration: underline;
}
.footer-right {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 30px;
}
.footer-right a:hover {
  transform: scale(1.2);
  color: red;
  transition: 0.2s ease;
}

@media only screen and (max-width: 768px) {
  .footer-title h1 {
    font-size: 20px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }
  .footer-left {
    padding: 20px 20px;
  }
  .footer-left p {
    height: 60px;
    gap: 15px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

.btn {
  border: 2px solid gray;
  background-color: red;
  color: white;
  border-radius: 20px;
  width: 100px;
  height: 50px;
  margin-top: 20px;
}

.btn:hover {
  transform: scale(1.2);
  transition: 0.2s ease;
  cursor: pointer;
}

.navbar i {
  margin: 40px 20px;
  cursor: pointer;
}

img:hover {
  border: 2px solid red;
}

.footer-title h1 {
  margin: 10px 10px;
  text-align: center;
  font-size: 35px;
  border-bottom: 2px solid red;
}

/* Responsive */
@media only screen and (max-width: 768px) {
  .navbar {
    padding: 0;
  }
  .navbar-logo {
    position: absolute;
    top: 30px;
    left: 30px;
  }
  .navbar-list {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    margin-top: -900px;
    transition: all 0.5s ease;
  }
  .navbar-list li {
    margin: 30px auto;
  }
  .navbar-list li a {
    color: black;
  }
  .navbar-i {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */